@page "/"

<PageTitle>Index</PageTitle>

<h1>DollarSense</h1>

<form>
	<select name="location1" id="location1" class="l1">
	<option value="1">Georgia</option>
	<option value="2">Alabama</option>
	<option value="3">Florida</option>
	<option value="4">Maine</option>
	</select>
	<input type="number" id="salary1" name="salary1" class="s1" />
	<select name="location2" id="location2" class="l2">
	<option value="1">Georgia</option>
	<option value="2">Alabama</option>
	<option value="3">Florida</option>
	<option value="4">Maine</option>
	</select>
	<input type="number" id="salary2" name="salary2" class="s2" />
	<input type="submit" value="Submit" class="c2a">
</form>